<div class="content">
    <div class="container">
        <div id="passendeSysteme" class="row">
            <div class="col-sm-6">
                <h2><f:translate key="matchingSystemsFor" default="Matching Systems for" /></h2>
                <!--<h2><f:translate key="matchingSystemsFor" default="Matching Systems for" /> {currentApplication.name}</h2>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- gradienten für pfeile der Navigation-->
                <div class="visible-xs gradientLeft"><span class="gradientArrow gradientLeftArrow">&nbsp;</span></div>
                <div class="visible-xs gradientRight"><span class="gradientArrow gradientRightArrow">&nbsp;</span></div>
                <div id="owlCarouselQuadsRelatedSystems" class="owl-carousel relatedObjects">
                    <f:for each="{currentApplication.systems}" as="system">
                        <div class="item">
                            <div class="owlQuad onePxPadding">
                                <div class="owlQuadText">
                                    <h4 class="owlQuadTextHeadline">{system.name}</h4>
                                    <p>{system.subtitle}</p>
                                </div>
                                <f:link.action action="index" controller="System" pluginName="Systems" pageUid="{settings.systemPage}" arguments="{item: system}">
                                    <f:if condition="{system.thumbnail}">
                                        <f:then><f:image src="{system.thumbnail.uid}" alt="{system.thumbnail.originalResource.title}" treatIdAsReference="TRUE" class="img-responsive" /></f:then>
                                        <f:else><f:image src="{f:uri.resource(path: 'art/system-bilderheader.png', extensionName: 'template')}" alt="{system.thumbnail.originalResource.title}" treatIdAsReference="TRUE" class="img-responsive" /></f:else>
                                    </f:if>
                                </f:link.action>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
    </div>
</div>