
<div class="headerimage">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="headerimageBackground">
          <div class="row">
              <div class="col-xs-12">
                  <img class="img-responsive" src="art/headerimage-background-laufbahn.jpg">
              </div>
          </div>

          <div id="quadsOnHeaderimageBackground" class="hidden-xs quadsOnHeaderimageBackground">
            <div class="headerimageToolbar">
              <a class="headerimageToolbarBTN col-05" href="#passendeSysteme"><img class="img-responsive" src="art/icon-toolbar-system.png"></a>

              <a class="headerimageToolbarBTN col-05" href="#weitereInformationen"><img class="img-responsive" src="art/icon-toolbar-info.png"></a>
            </div>
            <div class="row">
              <div class="col-sm-1 onePxPadding">
              	<img class="img-responsive" src="art-global/logo-readytobuild-var.png">

              </div>
              <div class="col-sm-7 onePxPadding">
                <div id="owlCarouselQuadsNavigation" class="owl-carousel">
                  <div class="item">
                    <div class="owlQuad onePxPadding">
                    	<a href="" class="active">
                    		<img class="img-responsive" src="art/icon-anwendungen-laufbahnen.png">
                    		<span>Laufbahn</span>
                    	</a>
                    </div>
                 	</div>
              	</div>
          		</div>
          		<div class="row">
              	<div class="col-sm-3 onePxPadding">&nbsp;</div>
              	<div class="col-sm-4 onePxPadding">
                  <h2 class="mainSummary">Moderne Leichtathletik-Laufbahnen aus Polyurethan- gebundenen EPDM Granulaten eignen sich optimal für den Schul-, Freizeit- und Hochleistungssport.</h2>
              	</div>
          		</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>