<div class="row">
    <div class="col-sm-6">
        <h2><f:translate key="relatedApplications" default="You could also be interested in these Applications"/></h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
         <!-- gradienten für pfeile der Navigation-->
        <div class="visible-xs gradientLeft"><span class="gradientArrow gradientLeftArrow">&nbsp;</span></div>
        <div class="visible-xs gradientRight"><span class="gradientArrow gradientRightArrow">&nbsp;</span></div>

        <div id="owlCarouselQuadsRelatedApplications" class="owl-carousel relatedObjects relatedObjectsApplications ">
            <f:for each="{applications}" as="application">
                <div class="item">
                    <div class="owlQuad onePxPadding">
                        <div class="owlQuadText">
                            <h4 class="owlQuadTextHeadline">{application.name}</h4>
                            <p>{application.subtitle}</p>
                        </div>

                        <f:link.action action="index" controller="Application" pluginName="Applications" pageUid="{settings.applicationPage}" arguments="{item: application}">
                            <f:if condition="{application.thumbnail}">
                                <f:then>
                                    <f:image src="{application.thumbnail.uid}" alt="{application.thumbnail.title}" treatIdAsReference="TRUE" class="img-responsive" height="283c" width="283c"/>
                                </f:then>
                                <f:else>
                                    <f:image src="{f:uri.resource(path: 'art/thumb-anwendung-laufbauhn.png', extensionName: 'template')}" alt="{application.name}" treatIdAsReference="TRUE" class="img-responsive" />
                                </f:else>
                            </f:if>
                        </f:link.action>
                    </div>
                </div>
            </f:for>
        </div>
    </div>
</div>