<div class="headerimage">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headerimageBackground">

                    <div class="row">
                        <div class="col-xs-12">
                            <f:image src="{f:uri.resource(path: 'art/headerimage-background-komponenten.jpg', extensionName: 'template')}" alt="{component.name}" class="hidden-xs img-responsive" />
                        </div>
                    </div>

                    <div id="quadsOnHeaderimageBackground" class="hidden-xs quadsOnHeaderimageBackground">
                        <div class="row">

                            <div class="col-sm-1 onePxPadding"><img class="img-responsive" src="{f:uri.resource(path: 'art-global/logo-readytobuild-var.png', extensionName: 'template')}"></div>
                            <div class="quad col-sm-1 onePxPadding" style="height: 142px;">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/quad-bilderheader-blind.png', extensionName: 'template')}">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-5 onePxPadding">&nbsp;</div>
                            <f:for each="{components}" as="component">
                                <div class="quad col-sm-1 onePxPadding" style="height: 142px;">
                                    <a class="" href="systeme.html">{component.name}</a>
                                </div>
                            </f:for>
                            <div class="quad col-sm-1 onePxPadding" style="height: 143px;">
                                <a class="" href="systeme.html">Reciycling Granules</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 onePxPadding">&nbsp;</div>
                            <div class="quad col-sm-1 onePxPadding" style="height: 142px;">
                                <a class="" href="systeme.html">Polyurethane</a>
                            </div>
                            <div class="quad col-sm-1 onePxPadding" style="height: 143px;">
                                <a class="" href="systeme.html">Landscaping</a>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- RTB Logo Mobile-->
                <div class="readyToBuildLogo visible-xs">
                    <div class="row">
                        <div class="col-sm-1 onePxPadding"><img class="img-responsive" src="art-global/logo-readytobuild-var.png"></div>
                    </div>
                </div>
                <!-- Headiung mobile-->
                    <h1 class="mainHeadline subpage visible-xs">Komponenten</h1>

            </div>
        </div>
    </div>
</div>