<!-- Anfrage Komponenten -->
<div id="anfrageKomponenten" class="anfrageKomponenten">

    <!-- ENDE Anfrage Step 1-->
    <!-- Anfrage step 2-->
    <div class="anfrage-step-1">
        <div class="row">
            <div class="col-sm-6">
                <h2 id="form-contact">Ihre persönlichen Daten</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
        </div>
        <div class="row">
            <f:form action="contact" additionalAttributes="{role: 'form'}" class="main-contact" section="form-contact" >
                <f:form.hidden name="component" value="{currentComponent}" />
                <div class="col-sm-6">
                    <div class="form-group">

                        <f:form.validationResults for="clientName">
                            <f:form.textfield name="clientName" class="form-control {f:if(condition: validationResults.flattenedErrors, then: 'error')}" id="clientName" placeholder="Ihre Name *" />
                            <f:if condition="{validationResults.flattenedErrors}">
                                <p class="text-danger">Bitte gib deinen Namen ein!</p>
                            </f:if>
                        </f:form.validationResults>

                        <f:form.textfield name="clientCompany" class="form-control" id="clientCompany" placeholder="Firma" />

                        <f:form.validationResults for="clientEmail">
                            <f:form.textfield name="clientEmail" class="form-control {f:if(condition: validationResults.flattenedErrors, then: 'error')}" id="clientEmail" placeholder="Ihre E-Mail *" />
                            <f:if condition="{validationResults.flattenedErrors}">
                                <p class="text-danger">Bitte gib eine richtige E-Mail ein!</p>
                            </f:if>
                        </f:form.validationResults>

                        <f:form.textfield name="clientPhone" class="form-control" id="clientPhone" placeholder="Telefon" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <f:form.validationResults for="squareMeasure">
                            <f:form.textfield name="squareMeasure" class="form-control {f:if(condition: validationResults.flattenedErrors, then: 'error')}" id="squareMeasure" placeholder="Gewünschte Fläche in m² *" />
                            <f:if condition="{validationResults.flattenedErrors}">
                                <p class="text-danger">Bitte gib eine Fläche an!</p>
                            </f:if>
                        </f:form.validationResults>

                        <f:form.textarea name="clientMessage" class="form-control" id="clientMessage" rows="3" placeholder="Bemerkungen" />
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <button id="submit-formular" type="submit" class="btn btn-default">Anfrage jetzt senden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </f:form>
        </div>
    </div>


</div>