<!-- Anfrage Komponenten -->
<div id="anfrageKomponenten" class="anfrageKomponenten">

    <!-- Anfrage step 2-->
    <div class="anfrage-step-1">
        <div class="row">
            <div class="col-sm-6">
                <h2>Komponente anfragen</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
               <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
        </div>
        <div class="row">
            <form id="kontakt-formular" role="form" method="post" accept-charset="utf-8">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="clientName" placeholder="Ihre Name *" aria-required="true">
                        <input type="text" class="form-control" id="clientCompany" placeholder="Firma">
                        <input type="email" class="form-control" id="clientEmail" placeholder="Ihre E-Mail *" aria-required="true">
                        <input type="tel" class="form-control" id="clientPhone" placeholder="Telefon">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="squareMeasure" placeholder="Gewünschte Fläche in m² *" aria-required="true">
                        <textarea class="form-control" id="clientCompany" rows="3" placeholder="Bemerkungen"></textarea>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <button id="submit-formular" type="submit" class="btn btn-default">Anfrage jetzt senden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>