<div class="content">
    <div class="container">

        <div id="weitereInformationen" class="row">
            <div class="col-sm-6">
                <h2>
                {f:translate(key: 'componentDetails', default: 'Details zur Komponente %s', arguments: {0: component.name})}</h2>
            </div>
        </div>

        <div class="row">

            <div id="tabCarousel" class="tabCarousel">
                <div class="col-xs-12">
                    <ul class="triggerTabCarousel">
                        <f:if condition="{component.rootParent.code} == 'CGR'">
                            <li class="active"><a class="active" href="">{f:translate(key: 'kerning', default: 'Kerning')}</a></li>
                        </f:if>
                        <f:if condition="{component.rootParent.code} == 'PUR'">
                            <li class="active"><a class="active" href="">{f:translate(key: 'variants', default: 'Variants')}</a></li>
                        </f:if>
                        <f:if condition="{component.rootParent.code} == 'ATL'">
                            <li class="active"><a href="" class="active">{f:translate(key: 'details', default: 'Details')}</a></li>
                        </f:if>
                        <f:if condition="{component.colors}">
                            <li><a href="">{f:translate(key: 'color', default: 'Color')}</a></li>
                        </f:if>
                        <li><a href="">{f:translate(key: 'extras', default: 'Extras')}</a></li>
                    </ul>
                </div>
                <div class="col-xs-12">

                    <div id="owlCarouselTabs" class="owl-carousel">
                        <f:if condition="{component.rootParent.code} == 'CGR'">
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="firstTable">
                                            <colspan width="50%"></colspan>
                                            <colspan width="37.5%"></colspan>
                                            <colspan width="12.5%"></colspan>
                                            <tr>
                                                <td>{f:translate(key: 'name', default: 'Name')}</td>
                                                <td>{f:translate(key: 'kerning', default: 'Kerning')}</td>
                                            </tr>
                                            <f:for each="{component.children}" as="childComponent">
    	                                        <tr>
    	                                            <td>{childComponent.name} {childComponent.subtitle}</td>
    	                                            <td>
    	                                                {childComponent.kerning.name}
    	                                            </td>
    	                                        </tr>
                                            </f:for>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="{component.rootParent.code} == 'PUR'">
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="firstTable">
                                            <colspan width="50%"></colspan>
                                            <colspan width="37.5%"></colspan>
                                            <colspan width="12.5%"></colspan>
                                            <tr>
                                                <td>{f:translate(key: 'name', default: 'Name')}</td>
                                                <f:for each="{component.children.0.attributes}" as="attribute">
                                                    <td>{f:translate(key: attribute.translationKey, default: attribute.name)}</td>
                                                </f:for>
                                            </tr>
                                            <f:for each="{component.children}" as="childComponent">
                                                <tr>
                                                    <td>{childComponent.name} {childComponent.subtitle}</td>
                                                    <f:for each="{childComponent.attributes}" as="attribute">
                                                        <td>{attribute.value}</td>
                                                    </f:for>
                                                </tr>
                                            </f:for>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="{component.rootParent.code} == 'ATL'">
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="firstTable">
                                            <tr>
                                                <f:for each="{component.attributes}" as="attribute">
                                                    <td>{f:translate(key: attribute.translationKey, default: attribute.name)}</td>
                                                </f:for>
                                            </tr>
                                            <tr>
                                                <f:for each="{component.attributes}" as="attribute">
                                                    <td>{attribute.value}</td>
                                                </f:for>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="{component.colors}">
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="owlCarouselFarbauswahl" class="owl-carousel owlCarouselFarbauswahl">
                                            <f:for each="{component.colors}" as="color">
                                                <f:if condition="{color.image.originalResource}">
                                                    <div class="item">
                                                        <div class="owlQuad onePxPadding">
                                                            <f:image src="{color.image.originalResource.publicUrl}" alt="{color.name}" treatIdAsReference="TRUE" class="img-responsive" />
                                                        </div>
                                                    </div>
                                                </f:if>
                                            </f:for>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
		</div>
</div>