<div class="content">

    <div class="container">

        <div id="weitereInformationen" class="row">
            <div class="col-sm-6">
                <h2>Details zur Komponente Melos Bionic Fibre</h2>
            </div>
        </div>
        <div class="row">

            <div id="tabCarousel" class="tabCarousel">
                <div class="col-xs-12">
                    <ul class="triggerTabCarousel">
                        <li class="active"><a class="active" href="">Körnung</a></li>
                        <li><a href="">Farben</a></li>
                        <li><a href="">Sonderaustattungen</a></li>
                    </ul>
                </div>
                <div class="col-xs-12">

                    <div id="owlCarouselTabs" class="owl-carousel">
                        <div class="item">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="firstTable">
<!--                                            <colgroup width="33%" span="3"></colgroup>-->
                                        <colspan width="50%"></colspan>
                                        <colspan width="37.5%"></colspan>
                                        <colspan width="12.5%"></colspan>
                                        <tr>
                                            <td>Lorem ipsum dolor est</td>
                                            <td>Lorem ipsum</td>
                                            <td>Lorem ipsum dolor </td>
                                        </tr>
                                        <tr>
                                            <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</td>
                                            <td>
                                                <ul class="status statusStars">
                                                    <li class="active">&nbsp;</li>
                                                    <li class="active">&nbsp;</li>
                                                    <li class="active">&nbsp;</li>
                                                    <li>&nbsp;</li>
                                                    <li>&nbsp;</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="status statusQuadrate">
                                                    <li class="active">&nbsp;</li>
                                                    <li class="active">&nbsp;</li>
                                                    <li class="active">&nbsp;</li>
                                                    <li>&nbsp;</li>
                                                    <li>&nbsp;</li>
                                                </ul>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Lorem Ipsum Dolor est sitem</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h2>Komponenten die mit Bionic Fibre harmonieren</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                  <!-- gradienten für pfeile der Navigation-->
                <div class="visible-xs gradientLeft"><span class="gradientArrow gradientLeftArrow">&nbsp;</span>
                </div>
                <div class="visible-xs gradientRight"><span class="gradientArrow gradientRightArrow">&nbsp;</span>
                </div>

                <div id="owlCarouselQuadsRelatedKomponents" class="owl-carousel relatedObjects">
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <div class="owlQuadText">
                                <h4 class="owlQuadTextHeadline">Lorem ipsum</h4>
                                <p>Lorem ipsumLorem ipsumLorem ipsum</p>
                            </div>
                            <a href="" class=""><img class="img-responsive" src="{f:uri.resource(path: 'art/content-quad-komponenten-coloredgranules.png', extensionName: 'template')}"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <div class="owlQuadText">
                                <h4 class="owlQuadTextHeadline">Lorem ipsum</h4>
                                <p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                            </div>
                            <a href="" class=""><img class="img-responsive" src="{f:uri.resource(path: 'art/content-quad-komponenten-recyclinggranules.png', extensionName: 'template')}"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <div class="owlQuadText">
                                <h4 class="owlQuadTextHeadline">Lorem ipsum</h4>
                                <p>Lorem ipsumLorem ipsumLorem ipsum</p>
                            </div>
                            <a href="" class=""><img class="img-responsive" src="{f:uri.resource(path: 'art/content-quad-komponenten-kleber.png', extensionName: 'template')}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h2>Hier sollte Text rein um Google auch Futter zu bieten</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
            </div>
        </div>

    </div>
</div>