<div id="anfrageKomponenten" class="anfrageKomponenten">

    <!-- Anfrage Step 1 -->
    <div class="anfrage-step-1">
        <div class="row">
            <div class="col-sm-6">
                <h2>Komponenten anfragen</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="firstTable">
                    <colgroup width="25%" span="4"></colgroup>
                    <tr>
                        <td>Anspruch an den Belag</td>
                        <td>Kosten</td>
                        <td>Synonyme</td>
                        <td>Einsatzfelder</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="status statusStars">
                                <li class="active">&nbsp;</li>
                                <li class="active">&nbsp;</li>
                                <li class="active">&nbsp;</li>
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                            </ul>
                        </td>
                        <td>
                            <ul class="status statusQuadrate">
                                <li class="active">&nbsp;</li>
                                <li class="active">&nbsp;</li>
                                <li class="active">&nbsp;</li>
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                            </ul>
                        </td>
                        <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</td>
                        <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</td>
                    </tr>
                </table>
                <table>
                    <colgroup width="50%" span="2"></colgroup>
                    <tr>
                        <td>Systembeschreibung</td>
                        <td>Typ nach DIN V 18035 6</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <p>Lorem ipsum dolor est sitem amet</p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor est sitem amet</p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor est sitem amet</p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor est sitem amet</p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor est sitem amet</p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor est sitem amet</p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor est sitem amet</p>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <h1 class="typoInitial">B</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <!-- ENDE Anfrage Step 1-->
    <!-- Anfrage step 2-->
    <div class="anfrage-step-1">
        <div class="row">
            <div class="col-sm-6">
                <h2>Ihre persönlichen Daten</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
        </div>
        <div class="row">
            <form id="kontakt-formular" role="form" method="post" accept-charset="utf-8">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="clientName" placeholder="Ihre Name *" aria-required="true">
                        <input type="text" class="form-control" id="clientCompany" placeholder="Firma">
                        <input type="email" class="form-control" id="clientEmail" placeholder="Ihre E-Mail *" aria-required="true">
                        <input type="tel" class="form-control" id="clientPhone" placeholder="Telefon">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="squareMeasure" placeholder="Gewünschte Fläche in m² *" aria-required="true">
                        <textarea class="form-control" id="clientCompany" rows="3" placeholder="Bemerkungen"></textarea>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <button id="submit-formular" type="submit" class="btn btn-default">Anfrage jetzt senden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>