{namespace m=Famelo\MelosRtb\ViewHelpers}
<div id="anfrageKomponenten" class="anfrageKomponenten">

    <!-- Anfrage Step 1 -->
    <div class="anfrage-step-1">
        <div class="row">
            <div class="col-sm-6">
                <h2>Komponenten anfragen</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="firstTable">
                    <colgroup width="25%" span="4"></colgroup>
                    <tr>
                        <td>Anspruch an den Belag</td>
                        <td>Kosten</td>
                        <td>Synonyme</td>
                        <td>Einsatzfelder</td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="status statusStars">
                            <m:star active="{currentSystem.requirement}" total="5">
                                <f:for each="{stars}" as="star">
                                    <li {f:if(condition: star.active, then: 'class="active"')}>&nbsp;</li>
                                </f:for>
                            </m:star>
                            </ul>
                        </td>
                        <td>
                            {currentSystem.cost}
                        </td>
                        <td>{currentSystem.synonym}</td>
                        <td>{currentSystem.application -> f:format.raw()}</td>
                    </tr>
                </table>
                <table>
                    <colgroup width="50%" span="2"></colgroup>
                    <tr>
                        <td>Systembeschreibung</td>
                        <td>Typ nach {currentSystem.standard}</td>
                    </tr>
                    <tr>
                        <td>
                            {currentSystem.featureDescription -> f:format.raw()}
                        </td>
                        <td>
                            <h1 class="typoInitial">B</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <!-- ENDE Anfrage Step 1-->
    <!-- Anfrage step 2-->
    <div class="anfrage-step-1">
        <div class="row">
            <div class="col-sm-6">
                <h2 id="form-contact">Ihre persönlichen Daten</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
        </div>
        <div class="row">
            <f:form action="contact" additionalAttributes="{role: 'form'}" class="main-contact" section="form-contact" >
                <f:form.hidden name="system" value="{currentSystem}" />
                <div class="col-sm-6">
                    <div class="form-group">

                        <f:form.validationResults for="clientName">
                            <f:form.textfield name="clientName" class="form-control {f:if(condition: validationResults.flattenedErrors, then: 'error')}" id="clientName" placeholder="Ihre Name *" />
                            <f:if condition="{validationResults.flattenedErrors}">
                                <p class="text-danger">Bitte gib deinen Namen ein!</p>
                            </f:if>
                        </f:form.validationResults>

                        <f:form.textfield name="clientCompany" class="form-control" id="clientCompany" placeholder="Firma" />

                        <f:form.validationResults for="clientEmail">
                            <f:form.textfield name="clientEmail" class="form-control {f:if(condition: validationResults.flattenedErrors, then: 'error')}" id="clientEmail" placeholder="Ihre E-Mail *" />
                            <f:if condition="{validationResults.flattenedErrors}">
                                <p class="text-danger">Bitte gib eine richtige E-Mail ein!</p>
                            </f:if>
                        </f:form.validationResults>

                        <f:form.textfield name="clientPhone" class="form-control" id="clientPhone" placeholder="Telefon" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <f:form.validationResults for="squareMeasure">
                            <f:form.textfield name="squareMeasure" class="form-control {f:if(condition: validationResults.flattenedErrors, then: 'error')}" id="squareMeasure" placeholder="Gewünschte Fläche in m² *" />
                            <f:if condition="{validationResults.flattenedErrors}">
                                <p class="text-danger">Bitte gib eine Fläche an!</p>
                            </f:if>
                        </f:form.validationResults>

                        <f:form.textarea name="clientMessage" class="form-control" id="clientMessage" rows="3" placeholder="Bemerkungen" />
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <button id="submit-formular" type="submit" class="btn btn-default">Anfrage jetzt senden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </f:form>
        </div>
    </div>

</div>