<div id="videoControls" class="hidden-xs videoControls">
    <a id="videoPlayerOpen" class="btn btn-default videoPlayerOpen" href=""></a>
</div>
<div id="videoWrapper" class="hidden- xs videoWrapper">
    <video id="videoFrame" class="videoFrame" autoplay poster="{f:uri.resource(path: 'art/headerimage-system.jpg', extensionName: 'template')}">
        <source src="{f:uri.resource(path: 'filme/melos_kreisel_kurztrailermp4.mp4', extensionName: 'template')}" type="video/mp4">
            dein browser unterstützt kein html5!
    </video>
</div>