<div class="headerimage">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- Video-->
                <div id="videoControls" class="hidden-xs videoControls">
                    <a id="videoPlayerOpen" class="btn btn-default videoPlayerOpen" href=""></a>
                </div>
                <div id="videoWrapper" class="hidden- xs videoWrapper">
                    <video id="videoFrame" class="videoFrame" autoplay poster="{f:uri.resource(path: 'art/headerimage-system.jpg', extensionName: 'template')}">
                        <source src="{f:uri.resource(path: 'filme/melos_kreisel_kurztrailermp4.mp4', extensionName: 'template')}" type="video/mp4">
                            dein browser unterstützt kein html5!
                    </video>
                </div>

                <div class="headerimageBackground">

                    <div class="row">
                        <div class="col-xs-12">
                            <div id="owlCarouselHeaderImages" class="owl-carousel">
                                <div class="item">
                                    <img class="hidden-xs img-responsive" src="{f:uri.resource(path: 'art/headerimage-system.jpg', extensionName: 'template')}">
                                    <img class="visible-xs img-responsive" src="{f:uri.resource(path: 'art/headerimage-system-mobile.jpg', extensionName: 'template')}">
                                </div>
                                <div class="item">
                                    <img class="hidden-xs img-responsive" src="{f:uri.resource(path: 'art/headerimage-system-querschnitt.jpg', extensionName: 'template')}">
                                    <img class="visible-xs img-responsive" src="{f:uri.resource(path: 'art/headerimage-system-querschnitt-mobile.jpg', extensionName: 'template')}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="quadsOnHeaderimageBackground" class="hidden-xs quadsOnHeaderimageBackground">

                        <!-- Toolbuttons für das System-->
                        <div class="headerimageToolbar">

                            <!-- Buttons für Wechsel System/Querschnitt -->
                            <div id="owlCarousellNavContainerHeaderImages" class="owlCarouselNavHeaderImages"></div>

                            <a class="headerimageToolbarBTN col-05 unvisible" href="">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/quad-bilderheader-blind.png', extensionName: 'template')}">
                            </a>
                            <a id="triggerFarbauswahl" class="headerimageToolbarBTN col-05" href="">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/icon-toolbar-farbauswahl.png', extensionName: 'template')}">
                            </a>
                            <a class="headerimageToolbarBTN col-05" href="#passendeKomponenten">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/icon-toolbar-komponenten.png', extensionName: 'template')}">
                            </a>
                            <a class="headerimageToolbarBTN col-05" href="#weitereInformationen">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/icon-toolbar-info.png', extensionName: 'template')}">
                            </a>
                            <a class="headerimageToolbarBTN col-05 unvisible" href="">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/quad-bilderheader-blind.png', extensionName: 'template')}">
                            </a>
                            <a class="headerimageToolbarBTN col-05 unvisible" href="">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/quad-bilderheader-blind.png', extensionName: 'template')}">
                            </a>
                            <a class="headerimageToolbarBTN col-4 unvisible" href="">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/quad-bilderheader-blind.png', extensionName: 'template')}">
                            </a>
                            <a class="headerimageToolbarBTN col-4" href="#anfrageKomponenten">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art/icon-toolbar-anfrage.png', extensionName: 'template')}"><span>Komponenten anfragen</span>
                            </a>


                        </div>
                        <!-- ENDE Toolbuttons -->

                        <!-- Slider mit Systemen-->
                        <div class="row">
                            <div class="col-sm-1 onePxPadding">
                              <img class="img-responsive" src="{f:uri.resource(path: 'art-global/logo-readytobuild-var.png', extensionName: 'template')}">
                            </div>
                            <div class="col-sm-7 onePxPadding">
                              <f:render partial="HeaderCarousel" arguments="{items: systems, currentItem: currentSystem, fallbackImage: 'art/system-bilderheader.png'}" />
                            </div>
                        </div>
                        <!-- ENDE Slider mit Systemen-->
                        <div class="row">
                            <div class="col-sm-4 onePxPadding">&nbsp;</div>
                            <div class="col-sm-4 onePxPadding">
                                <h2 class="mainSummary">{currentSystem.teaser -> f:format.nl2br()}</h2>
                            </div>
                        </div>

                    </div>


                    <!-- RTB Logo Mobile-->
                    <div class="readyToBuildLogo visible-xs">
                        <div class="row">
                            <div class="col-sm-1 onePxPadding">
                                <img class="img-responsive" src="{f:uri.resource(path: 'art-global/logo-readytobuild-var.png', extensionName: 'template')}">
                            </div>
                        </div>
                    </div>

                    <!-- Toolbar Mobile -->
                    <div class="headerimageToolbar visible-xs">
                        <a class="headerimageToolbarBTN col-05" href="#passendeKomponenten">
                            <img class="img-responsive" src="{f:uri.resource(path: 'art/icon-toolbar-komponenten.png', extensionName: 'template')}">
                        </a>
                        <a class="headerimageToolbarBTN col-05" href="#weitereInformationen">
                            <img class="img-responsive" src="{f:uri.resource(path: 'art/icon-toolbar-info.png', extensionName: 'template')}">
                        </a>
                        <a class="headerimageToolbarBTN col-6" href="#anfrageKomponenten">
                            <img class="img-responsive" src="{f:uri.resource(path: 'art/icon-toolbar-anfrage.png', extensionName: 'template')}"><span>Komponenten anfragen</span>
                        </a>

                    </div>

                    <!-- Headiung mobile-->
                    <h1 class="mainHeadline subpage visible-xs">System Typ A</h1>
<!--                        <h2 class="mainSummary visible-xs">System des Typ A <br>lorem ipsum und so weiter ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</h2>-->


                </div>
            </div>

            <!-- Farbauswahl-->
            <div class="col-sm-12">

                <div id="owlCarouselFarbauswahl" class="owl-carousel owlCarouselFarbauswahl">
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-460000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-461000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-461500.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="active">
                                <img class="img-responsive" src="art/farben/farbe-461800.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462100.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462400.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462800.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-460000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-461000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-461500.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-461800.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462100.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462400.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462800.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-460000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-461000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-461500.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-461800.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462000.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462100.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462400.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="owlQuad onePxPadding">
                            <a href="" class="">
                                <img class="img-responsive" src="art/farben/farbe-462800.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ENDE Farbauswahl-->

        </div>
    </div>
</div>