<h3><f:translate key="recommendedSystemStructure" default="recommended system structure"/></h3>
<table class="firstTable hidden-xs">
    <tr>
        <td>&nbsp;</td>
        <td><f:translate key="tx_melosrtb_domain_model_layer.name" default="layer"/></td>
        <td><f:translate key="tx_melosrtb_domain_model_layer.product" default="product"/></td>
        <td><f:translate key="tx_melosrtb_domain_model_layer.application" default="application"/></td>
    </tr>
    <f:for each="{currentSystem.layers}" as="layer" iteration="i">
        <tr>
            <td>{i.cycle}</td>
            <td>{layer.name}</td>
            <td>
                <f:for each="{layer.products}" as="component">
                    <!-- <f:link.action action="index" controller="Component" pluginName="Components" pageUid="{settings.componentPage}" arguments="{item: component.parent}" target="_blank"> -->
                    <f:if condition="{component.kerning.name}">
                        <f:then>
                            <span class="color-square-{component.rootParent.code}"></span>
                            {component.name}
                            <span class="layerKerning">({component.kerning.name})</span><br />
                        </f:then>
                        <f:else>
                            <span class="color-square-{component.rootParent.code}"></span>
                            {component.name}<br />
                        </f:else>
                    </f:if>
                    <!-- </f:link.action> -->
                </f:for>
            </td>
            <td>
            <f:for each="{layer.applicationProcesses}" as="applicationProcess">
                <a href="{applicationProcess.image.originalResource.publicUrl}" title="{applicationProcess.image.originalResource.title}" class="magnific-lightbox">
                    <f:image src="{applicationProcess.icon.originalResource.publicUrl}" alt="{applicationProcess.icon.originalResource.title}" treatIdAsReference="TRUE" height="48"/>
                </a>
            </f:for>
            </td>
        </tr>
    </f:for>
</table>

<div class="product-category-legends">
<f:for each="{currentSystem.layerProductCategories}" as="component">
    <f:link.action action="index" controller="Component" pluginName="Components" pageUid="{settings.componentPage}" arguments="{item: component}" target="_blank" class="product-category-legend">
        <span class="color-square-{component.code}"></span>
        {component.name}
    </f:link.action>
</f:for>
</div>